@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script|Open+Sans');
*
::before
::after {
    box-sizing: border-box;
    margin: 0; padding: 0;
}
 html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
} 
body {
    /* z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around; */ 
    background-image: url(assets/img/background.jpg);
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: cover;
    /* overflow: hidden; */
    /* text-align: center; */
}
/* containers for screen movement */
.container {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.view {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    text-align: center;
    transition: -webkit-transform .5s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition: transform .5s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
/* setting initial positions to move from right to left */
.about-view {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.portfolio-view {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.home-view {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.contact-view {
    -webkit-transfrom: translateY(100%);
    transform: translateY(100%);
}
/* home view movements */
.view-change-left .home-view {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.view-change-right .home-view {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.view-change-up .home-view {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* setting to move from right to left */
.view-change-left .about-view {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
/* moving in from left */
.view-change-right .portfolio-view {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
} 
/* move up from bottom */
.view-change-up .contact-view {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
/* located center screen */
.home-view {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* located screen right */
.about-view {
    height: 100%;
    width: 100%;
    right: 0;
    overflow: hidden;
}
/* located to screen left */
.portfolio-view {
    height: 100%;
    width: 100%;
    left: -100%;
    overflow: hidden;
}
/* located screen bottom */
.contact-view {
    height: 100%;
    width: 100%;
    bottom: -100%;
    overflow: hidden;
    background-image: url(assets/img/seabed.jpg);
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: bottom center;
}

/* element settings */
#nav, h1, h2, li, a {
    color: black;
    font-size: 0rem;
    font-family: 'Nanum Brush Script', cursive;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
    position: relative;
    z-index: 3;
    text-decoration: none;
}
li {
    font-size: 0rem;
}
p, span {
    color: black;
    font-size:2rem;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .7);
    position: relative;
    z-index: 3;
    text-decoration: none;
}
#nav {
    z-index: 3;
    overflow: hidden;
    opacity: 1;
}
#nav li, a {
    margin-right: 15px;
    opacity: 1;
}
title {
    display: none;
}
.welcome {
    padding: 10px;
}
svg {
    opacity: 1;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}
/* end elements styling */

/* top bar styling */
.name-wrap {
    position: fixed;
    top: 1vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, .7));

}
.name {
    color: black;
    font-size: 2rem;
    font-family: 'Nanum Brush Script', cursive;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
    position: relative;
    z-index: 3;
    text-decoration: none;
    border-bottom: 1.5px solid black;

}
.back-button {
    color: black;
    height: 50%;
    font-size: 1rem;
    font-family: 'Nanum Brush Script', cursive;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
    position: relative;
    z-index: 3;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50%;
    letter-spacing: .01rem; 
}
.up {
    transform: rotate(90deg);
}
/* end top bar styling */

/* contact form styling */
form {
    height: 60vh;
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 3fr 1fr; 
    margin-right: auto;
    margin-left: auto;  
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .7));
}
label {
    color: black;
    height: 50%;
    font-size: 4rem;
    font-family: 'Nanum Brush Script', cursive;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
    z-index: 3;
}
input {
    opacity: .9;
}
textarea {
    opacity: .9;
    height: 10vh;
}
#submit {
    color: black;
    height: 60%;
    font-size: 5rem;
    font-family: 'Nanum Brush Script', cursive;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
    z-index: 3;
    margin-top: 2vh;
}
#name {
    height: 4vh;
}
#email {
    height: 4vh;
}
/* end contact form styling */

.hidden {
    display: 
}
.home {
    opacity: 1;
}
.about {
    opacity: 0;
}
.portfolio {
    opacity: 0;
}

/* svg styling */
#volcano {
    position: absolute;
    left: 15%;
    top: 60%;
    height: 12vh;
    width: 12vw;
    transform: scale(1);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .7));
}
.volcano path {
    width: auto;
    stroke: #000;
    stroke-width: .5px;
    fill: none;
    stroke-dasharray: 316;
    stroke-dashoffset: 316;
    animation: draw 8s ease-in 15s forwards, fill 5s linear 18s forwards;
    overflow: hidden;
}
.waves {
    position: absolute;
    bottom: -25vh;
    height: 60vh;
    width: 150vw;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .7));
    animation: pulse 50s ease-in-out infinite alternate;
}
#waves path {
    width: auto;
    stroke: #000;
    stroke-width: .2px;
    fill: none;
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    animation: draw 6s ease-in infinite alternate-reverse, fill 5s linear forwards;
    overflow: hidden;
}

#sailboat {
    position: absolute;
    left: 60%;
    top: 60%;
    height: 60vh;
    width: 60vw;
    transform: rotate(4deg) translateY(8px);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .7));
    animation: rock 3s ease-in-out infinite alternate;
    overflow: hidden;
    margin: none;
    z-index: 2;
}
.sailboat path {
    width: auto;
    stroke: #000;
    stroke-width: .2px;
    fill: none;

    stroke-dasharray: 12774;
    stroke-dashoffset: 12774;
    animation: fill 20s ease-in forwards;
    overflow: hidden;
}
#sun {
    position: absolute;
    left: 75%;
    top: 8%;
    height: 11vh;
    width: 11vw;
    transform: translateY(8px) scale(1);
    overflow: hidden;
    margin: none;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .7));
    animation: pulse 30s ease-in-out infinite alternate;
}
.sun path {
    width: auto;
    stroke: rgba(0, 0, 0, 0.815);
    stroke-width: 15px;
    fill: none;
    stroke-dasharray: 1900;
    stroke-dashoffset: 1900;
    animation: draw 10s ease-in-out 2s forwards;
    overflow: hidden;
}
.cloud {
    position: absolute;
    left: 110%;
    top: 24%;
    height: 16vh;
    width: 16vw;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .7));
    animation: fly-left-1 linear infinite;
    overflow: hidden;
    z-index: 0;
}
.cloud--1 {
    transform: rotate(-30deg);
    animation-duration: 43s;
    animation-delay: 0;
}
.cloud--2 {
    top: 32%;
    transform: scale(1.3);
    animation-duration: 37s;
    animation-delay: 10s;
    z-index: 0;
}
.cloud--3 {
    top: 25%;
    animation-duration: 38.6s;
    animation-delay: 4s;

}
.cloud--4 {
    top: 30%;
    transform: scale(1.1);
    animation-duration: 39s;
    animation-delay: 15s;
    z-index: 3;
}

#cloud--1 path {
    width: auto;
    stroke: #000;
    stroke-width: .8px;
    fill: none;
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    animation: draw 3s ease-in-out infinite alternate-reverse;
    overflow: hidden;
}
#cloud--2 path {
    width: auto;
    stroke: #000;
    stroke-width: .8px;
    fill: none;
    stroke-dasharray: 40;
    stroke-dashoffset: 40;
    animation: draw 3s ease-in-out 2s infinite alternate-reverse;
    overflow: hidden;
}
#fish--1 path {
    width: auto;
    stroke: #000;
    stroke-width: 7px;
    fill: none;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    animation: draw 2.5s ease-in-out infinite alternate-reverse;
    overflow: hidden;
}
#fish--2 path {
    width: auto;
    stroke: #000;
    stroke-width: 6px;
    fill: none;
    stroke-dasharray: 120;
    stroke-dashoffset: 120;
    animation: draw 3s ease-in-out 2s infinite alternate-reverse;
    overflow: hidden;
}
#fish--3 path {
    width: auto;
    stroke: #000;
    stroke-width: 2px;
    fill: none;
    stroke-dasharray: 120;
    stroke-dashoffset: 120;
    animation: draw 3s ease-in-out 2s infinite alternate-reverse;
    overflow: hidden;
}
/* end svg styling */



/* keyframe animations */
@keyframes fly-left-1 {
    0% {
      -webkit-transform: scale(0.3) translateX(-10vw);
              transform: scale(0.3) translateX(-10vw);
    }
    10% {
      -webkit-transform: translateY(2vh) translateX(-10vw) scale(0.4);
              transform: translateY(2vh) translateX(-10vw) scale(0.4);
    }
    20% {
      -webkit-transform: translateY(0vh) translateX(-30vw) scale(0.5);
              transform: translateY(0vh) translateX(-30vw) scale(0.5);
    }
    30% {
      -webkit-transform: translateY(-1vh) translateX(-50vw) scale(0.6);
              transform: translateY(-1vh) translateX(-50vw) scale(0.6);
    }
    40% {
      -webkit-transform: translateY(0vh) translateX(-70vw) scale(0.6);
              transform: translateY(0vh) translateX(-70vw) scale(0.6);
    }
    50% {
      -webkit-transform: translateY(2vh) translateX(-90vw) scale(0.6);
              transform: translateY(2vh) translateX(-90vw) scale(0.6);
    }
    60% {
      -webkit-transform: translateY(0vh) translateX(-120vw) scale(0.6);
              transform: translateY(0vh) translateX(-120vw) scale(0.6);
    }
    100% {
      -webkit-transform: translateY(-2vh) translateX(-140vw) scale(0.6);
              transform: translateY(-2vh) translateX(-140vw) scale(0.6);
    }
  }



@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes rock {
    to {
        transform: rotate(-5deg) translateY(-10px);
    }
}
@keyframes fill {
    0% {
        fill: rgba(0, 0, 0, 0.0);
    }
    15% {
        fill: rgba(0, 0, 0, 0.1);
    }
    30% {
        fill: rgba(0, 0, 0, 0.2);
    }
    45% {
        fill: rgba(0, 0, 0, 0.3);
    }
    60% {
        fill: rgba(0, 0, 0, 0.4);
    }
    75% {
        fill: rgba(0, 0, 0, 0.5);
    }
    100% {
        fill: rgba(0, 0, 0, 0.6);
    }
}
@keyframes pulse {
    to {
        transform: rotate(8deg) scale(1.17);
    }
}
/* end keyframe animation */